.title {
  font-family: var(--font2);
  font-weight: 700;
  font-size: 35px;
  color: #4e8655;
  margin-bottom: 10px;
}

.main {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background: #fff;
  border-radius: 18px;
  width: 720px;
  padding: 50px;
}

.text {
  font-family: var(--font1);
  font-weight: 400;
  font-size: 20px;
  line-height: 130%;
  letter-spacing: -0.03em;
  color: #000;
}
