.main {
    border-radius: 0 18px;
    width: 204px;
    height: 61px;
    background-color: var(--colorG);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    font-family: var(--font1);
    font-weight: 400;
    font-size: 20px;
    line-height: 130%;
    color: #fff;
  }
  